<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CokEglencez.Properties.Settings.StokConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=Stok;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.StokConnectionString1"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=Stok;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.Stok2ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=Stok2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.stok3ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=stok3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.Stok4ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=Stok4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.stok5ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=stok5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.stokSonConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=stokSon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.yeniConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=yeni;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.yenicikConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=yenicik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.deneme111ConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=deneme111;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.Deneme1ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=Deneme1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.deneme2ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=deneme2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.deneme3ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=deneme3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.deneme4ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=deneme4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.v1stokConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=v1stok;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.v2StokConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=v2Stok;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.stok3v3ConnectionString"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=stok3v3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.stokV1ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=stokV1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.STOKSONConnectionString1"
            connectionString="Data Source=DESKTOP-0QVMQPL\SQLEXPRESS;Initial Catalog=STOKSON;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CokEglencez.Properties.Settings.stokv3ConnectionString"
            connectionString="Data Source=YG0234-22-01\SQLEXPRESS;Initial Catalog=stokv3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>